@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 510px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
/* textarea {
    width: 80%;
    border: none;
    padding: 20px;
    font-size: 25px;
    outline: none;
    background: #FBFBFB;
    border: 1px solid black;
} */

.textarea-container {
    position: relative;
}
.textarea-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    font-size: 25px;
    outline: none;
    background: #FBFBFB;
    border: 1px solid black;
}
.textarea-container button{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    right: 2px;
    z-index: 2;
    border: none;
    height: 80px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
    width: 80px;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    overflow-wrap:break-word;
}
.incoming {
    background: #8F8BE8;
    color: #fff;  
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
.client_name {
    padding: 5px 12px 55px;
    background-color: var(--system-message-background);
}

/* button {
    position: relative;
    top: 0;
    border-radius: 5px;
    right: 2px;
    z-index: 2;
    border: none;
    top: -30px;
    height: 70px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
    width: 80px;
} */